ScaryStoriesUniversal/ScaryStoriesUniversal.Windows/SampleData/SampleStoryDataSource/SampleStoryDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Blend.SampleData.SampleStoryDataSource" targetNamespace="Blend.SampleData.SampleStoryDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleStoryDataSource" type="tns:SampleStoryDataSource" />
  <xs:complexType name="SampleStoryDataSource">
    <xs:sequence>
      <xs:element name="Story" type="tns:Story" />
      <xs:element name="Photo" type="tns:Photo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Story">
    <xs:attribute blend:FormatParameters="100,8" name="Text" type="xs:string" />
    <xs:attribute blend:FormatParameters="3,8" name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Photo">
    <xs:attribute blend:FormatParameters="..\..\..\..\..\..\..\Pictures\олино" name="Image" type="tns:Basic-Image" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>