ScaryStoriesUniversal/ScaryStoriesUniversal.WindowsPhone/SampleData/CategoriesSampleData/CategoriesSampleData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Blend.SampleData.CategoriesSampleData" targetNamespace="Blend.SampleData.CategoriesSampleData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CategoriesSampleData" type="tns:CategoriesSampleData" />
  <xs:complexType name="CategoriesSampleData">
    <xs:sequence>
      <xs:element name="Categories" type="tns:Categories" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Categories">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="CategoriesItem" type="tns:CategoriesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CategoriesItem">
    <xs:attribute blend:FormatParameters="..\..\..\..\..\..\..\Pictures\С проигрывателя NOKIA Lumia 710\Альбом камеры" name="Image" type="tns:Basic-Image" />
    <xs:attribute blend:FormatParameters="2,8" name="Name" type="xs:string" />
    <xs:attribute blend:FormatParameters="..\..\..\..\..\..\..\Pictures\С проигрывателя NOKIA Lumia 710\Альбом камеры" name="Thumb" type="tns:Basic-Image" />
    <xs:attribute blend:FormatParameters="3,8" name="Description" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>